<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Phidget22.NET"
								  publicKeyToken="c2b1f2a3594bce52"
								  culture="neutral" />
				<bindingRedirect oldVersion="1.1.0.0 - 1.1.0.65535"
								 newVersion="1.1.0.6" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
